$main: #66f;
$main-text: #303133;
$regular-text: #606266;
$minor-text: #909399;
$disable-text: #c0c4cc;
$background: #f8f8f8;
$first-border: #d8dce6;
$second-border: #dcdfe6;
$third-border: #ebeef5;
$table-header: #f9f9f9;
$mask: rgba(48, 49, 51, 0.65);
$assist-color1: #8b99ff;
$assist-color2: #f08473;
$assist-color3: #f8d9d3;
$assist-color4: #efefff;
$assist-color5: #bc73f0;

$error: #f5222d;
$warning: #faad14;
$success: #67c23a;
$link: #1890ff;

$h0: 24px;
$h1: 18px;
$h2: 16px;
$text: 14px;
$tips: 12px;

$line-height: 1.5;

$distance-btn: 8px;
$input-width: 296px;
$table-input-width: 120px;
$distance1: 12px;
$distance2: 24px;
$distance3: 32px;
$distance4: 36px;
$distance5: 40px;
$distance6: 48px;
